<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Provider</th>
			<th>Token</th>
			<th>Secret</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @authentications.each do |authentication| %>
		<tr>
			<td><%= authentication.provider %></td>
			<td><%= authentication.token %></td>
			<td><%= authentication.secret %></td>
			<td>
				<%= button_to "X", "/authentications/#{authentication.id}", :confirm => 'Are you sure?', :method => :delete, :class => "remove" %>
    	</td>
    </tr>
	<% end %>
	</tbody>
</table>

<h3>Link more accounts</h3>
<ul>
	<li><a href="/auth/dropbox">Dropbox</a></li>
</ul>